@mixin d-grid($gtc: repeat(auto-fill, minmax(30rem, 1fr)), $gap: 2rem) {
  display: grid;
  grid-template-columns: $gtc;
  gap: $gap;
}

@mixin section($padding-top: 6rem, $padding-bottom: 6rem, $bg: $color-grey) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  background-color: $bg;
}
