@import "./variables";
@import "./mixins";

.section {
  &-landing {
    background-image: url("../assets/landing.jpg");
    background-size: cover;
    height: calc(100vh - 6.4rem);
    position: relative;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 39rem;
    max-width: 100%;
  }

  &__heading {
    font-size: 5rem;
    font-weight: bold;
    color: $primary-color;
  }

  &__description {
    font-size: 1.9rem;
    line-height: 1.8;
  }

  &-features {
    @include section;
  }

  &__threeCols {
    @include d-grid;
  }

  &__feat {
    padding: 2rem;
    text-align: center;

    > i {
      color: $primary-color;
    }

    > h3 {
      font-weight: 800;
      margin: 3rem 0;
    }

    > p {
      line-height: 1.8;
      color: $color-dark-grey;
      font-size: 1.7rem;
    }
  }

  &-services {
    @include section($bg: transparent);
  }

  &__services-content {
    @include d-grid($gap: 3rem);
    margin-top: 10rem;
  }

  &__services-srv {
    display: flex;
    margin-bottom: 4rem;

    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }

    > i {
      color: $primary-color;
      flex-basis: 6rem;
    }
  }

  &__services-text {
    flex: 1;
  }

  &__services-heading {
    margin-bottom: 2rem;
  }

  &__services-para {
    color: $color-light-black;
    font-weight: 300;
    line-height: 1.6;
  }

  &__services-image {
    position: relative;
    text-align: center;

    @media (max-width: 1199px) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $secondary-color;
      width: 10rem;
      height: calc(100% + 10rem);
      top: -5rem;
      right: 0;
      z-index: -1;
    }

    > img {
      width: 26rem;
    }
  }

  &-portfolio {
    @include section;
  }

  &__portfolio-content {
    @include d-grid($gap: 3rem);
    margin-top: 8rem;
  }

  &__portfolio-card {
    background-color: $color-white;
  }

  &__portfolio-image {
    max-width: 100%;
  }

  &__portfolio-info {
    padding: 2rem;
  }

  &__portfolio-para {
    color: $color-dark-grey;
    line-height: 1.6;
    margin-top: 1rem;
  }
}
