.special-heading {
  color: #ebeced;
  font-size: 10rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.3rem;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 6rem;
    letter-spacing: -0.1rem;
  }

  + p {
    color: #797979;
    margin: -3rem 0 0;
    font-size: 2rem;
    text-align: center;

    @media (max-width: 767px) {
      margin-top: -2.5rem;
    }
  }
}
